.formulario {
    text-align: center;
    width: 800px;
    max-width: 400px;
}

.formulario .obligatorio {
    border: red 1px solid;
    background-color: rgb(205, 205, 205);
}

.formulario .generica {
    padding: 1rem;
    background-color: rgb(205, 205, 205);
}

.formulario .generica:hover {
    background-color: grey;
}

.formulario .obligatorio:hover {
    background-color: grey;
}

.formulario #nombre,
.formulario #colorFavorito {
    border-bottom-color: black;
    border-bottom-width: 5px;
}

.formulario .boton {
    background-color: black;
    color: white;
    border: none;
}
