
.lastLi {
    background-color: rgb(0,0,255);
}

.impar {
    text-decoration:  underline;
    text-decoration-color: green;
}

/*¿Por qué quita los puntos?*/
.lista li {
    margin-right: 10px;
    display:inline-flex;
    font-size: 15px;
}

.lista li:after {
    content: "\01F354";
}

.lista .enIngles {
    font-size: 30px;
    text-transform:  uppercase;
}

#provincias li{
    list-style-type: lower-roman;
}

#provincias li.aCoruña{
    list-style-type: none;
}