/* PEDIR TUTORIAS:
2- NO SE PONER UNA LINEA COMO EL EJEMPLO..
3- NO SE HACER EL CAJON DE COMENTARIOS FIJO... Y QUE EL BOTON DE ENVIAR NO SE MUEVA
*/

/* UTILIZAR SIEMPRE RM EN VEZ PX
utilizar em cuando queramos modificar un parametro en concreto */

img {
	float: right; 
	margin: 0px 0px 0px 15px;
	width=300px;
}

.textoTodo {
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    font-style: italic;
}

.textoTodo .cabecera {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: justify;
}

.cabecera h1 {
    font-size: 50px;
}

.cabecera h3 {
    font-size: 25px;
}

.texto {
    text-align: justify;
}

.texto .titulo h2 {
    font-size: 30px;
    color: grey;
    border-bottom: 1px solid black;
}

.formulario {
    text-align: justify;
}

.formulario h2 {
    color: grey;
    font-size: 30px;
    text-decoration-line: underline;
}

.formulario .boton {
    background-color: black;
    color: white;
    border: none;
    position: relative;
}

.formulario .obligatorio {
    background-color: gray;
}

.obligatorio {
	width: 100%;
}

textarea {
	width: 100%;
}

.textoFormulario{
		margin-left: 200px;
		margin-right: 200px;
	}

img {  /* mejor ponemos las propiedas aquí en vez del html */
		width: 300px;
		float: right; 
		margin: 0px 0px 15px 15px;
}


@media (max-width: 1531px) {
	.textoTodo {
    margin-right: 10%;
    margin-left: 10%;
}
}

@media (max-width: 1250px) {
	.textoTodo {
    margin-right: 5%;
    margin-left: 5%;
}
}


@media (max-width: 1194px) {
    .cabecera h1 {
        font-size: 30px;
    }
	
	.textoTodo {
    margin-right: 0%;
    margin-left: 0%;
}

	.textoFormulario
	{
		margin-left: 100px;
		margin-right: 100px;
	}
}

@media (max-width: 690px) {
    .cabecera p {
        font-size: 13px;
    }
	
	.textoFormulario
	{
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.textoTodo .cabecera {
		padding: 15px;
	}
	
	.cabecera h3{
		margin: 10px;
	}
	
	.cabecera h1{
		margin: 10px;
	}
	
	img {
		width: 250px;
		margin: 0px 0px 0px 10px;
	}
}


@media (max-width: 475px) {
	.textoFormulario
	{
		margin-left: 10px;
		margin-right: 10px;
	}
	

	img {
		width: 225px;
	}
}


@media (max-width: 380px) {
	.textoFormulario
	{
		margin-left: 10px;
		margin-right: 10px;
	}
	

	img {
		float:none;
		width: 100%;
		margin: 0;
	}
}


