* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

body > p {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
}

main.question p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

main.question button {
    background: black;
    color: white;
    border: 0;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}