body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: 0 0 10px black;
    padding-left: 20px;
    padding-right: 20px;
    gap: 25px;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-right: auto;
}

.menu {
    align-self: stretch;
}

.menu li {
    display: flex;

}

.menu a{
    background-color: red;
    text-decoration: none;  
    display: flex;  
    align-items: center;
    border: solid 1px black;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    flex-grow: 1;
}

.menu a:hover {
    background-color: lightgray;
}

.logo {
    margin-right: 15%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* sirve para que no se toquen los elementos y siempre guarden el tamaño que pusimos */
}

.tags a {
    background: lightgray;
    color: #333;
    text-decoration: none;
    padding: 5px;
    border: solid 1px;
    border-radius: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
}

.tags a:hover {
    background: gray
}