/* En flex todo lleva las mismas medidas, quiere decir que si por ej el primer parrafo tuviera mas texto
los demás parrafos van a tener el mismo tamaño que el más grande, hay comandos para cambiar esta orden, 
dejo el ej abajo con el align-items*/

.contenedor2 {
    background-color: grey;
    display: flex;
    justify-content: space-between; /* con este comando es lo mismo que poner en cada elemento margin-...= auto */
}

.contenedor2 > div {
    background-color: red;
    border: solid 1px black;
}


.contenedor {
    display: flex; /* Esto se parece a grid pero aquí los elementos se van agrupando en columnas, si borras 
    alguno los elementos se reordenan para estar juntos. */
    background-color: brown;
    /* align-items: center;  *//* Se podría flex-end o center, start o end */
    justify-content: flex-start;
    flex-direction: row; /* Desde aquí podremos ponerle el eje que queramos */
    direction: unset;
    flex-wrap: wrap;/* esto sirve para en vez de seguir en linea recta cuando se añaden mas elementos y crear una barra
    los envia para abajo cuando encogemos la pantalla */
}

.contenedor p {
    background-color: aqua;
    border: solid 1px;
    margin: 0;
    margin-block-end: 0px; /* sirve para poner el margen desde arriba o abajo, start o end */
}

.contenedor p:nth-child(2) { /* todos tienen posicion 0 entonces habrá que ponerle posicion a todos 
    por si quieres un orden especifico */
    order: 0;
    height: 100px;
    align-self: flex-end; /* end o start y podremos moverlo de izquierda a derecha, teniendo el flex en columnas */
    background-color: cornflowerblue;
    flex: 2; /* esto sirve para que el elemento seleccionado, en este caso 1 pues si hay espacio sobrante se queda con el  */
}

.contenedor p:nth-child(1) {
    height: 100px;
    align-self: flex-end;
    background-color: blue;
    flex: 1; /* si ponemos el mismo numero se divide el espacio sobrante entre los seleccionados */
    flex-grow: 1;/* esto es para que se estire o no, 1 es numero que trae si pones mas se estiraria mas que otros aun siendo mas grandes otros con 0 no */
}

.contenedor p:nth-child(3) {
    background-color: green;
    flex-shrink: 0; /* es la flexivilidad de este elemento para contraerse o no. con 0 no se encogería  */
    flex-basis: 100px; /* Sirve para darle un tamaño especifico al elemento */
}