@font-face{
    font-family: "Tipo titulo";
    src: url(/Trabajos/DIA-7/Fuentes/Sixty.woff) format("woff");
}

h1{
    color: rebeccapurple;
    font-family: "Tipo titulo", sans-serif;
    font-size: 5rem;
    text-shadow: 5px 10px 0px black; /* este sirve para ponerle sombras al texto, 
    primer valor movimiento vertical, segundo horizontal, tercer valor nivel de la sombra */
    box-shadow: 7px 7px 7px black; /* lo mismo que de arriba pero para cajas */
}

p{
    color: black;
    font-family: "Tipo titulo", sans-serif;
    font-size: 2rem;
}