@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;300&display=swap');
/* Si usamos algo de google, podrían entrar en tu página web y ver visitantes y demás */

h1 {
    color: red; 
    font-family: "Open Sans", sans-serif; /* para el formato de letra que podemos sacar de fonts.google */
    font-weight: 1000;/* esto sirve para darle el grosor al texto */
}


p {
    font-family: "Roboto", monospace;/* se pone un segundo tipo de letra por si la primera no la encontrará */
    font-weight: 300;
}