.button {
  background: transparent;
  border: solid 2px blue;
  padding: 1em;
  display: inline-block;
  font-family: arial;
  font-size: 16px;
  text-decoration: none;
  color: blue;
  border-radius: 8px;
}

.button_icon {
  border-radius: 50%;
  vertical-align: middle;
}

.button_text {
  font-weight: bold;
}

.button_text--uper {
  text-transform: uppercase;
}
