p {
    background-color: blue;
    position: static;/* es la posicion del documento que viene por defecto en static, con esta posición al moverlos no le afectaria */
}

p:nth-child(2) {
    position: relative;/* cuando cambiamos la posición ya vemos que se mueve, con fixed los valores se calculan dependienddo del tamaño del navegador, con la actual 
    se calculan desde el sitio de su posición natural */ 
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

h2 {
    position: sticky; /* con esta posición siempre quedara a la vista aunque bajemos */
    top: 0;
    background-color: white; /* esta solución es para que tape los titulos y no se solapen, otra forma seria agrupar los apartados por secciones */
}
