article {
    --color-principal: brown;  /* esto sirve para poder cambiar los valores de mismas secciones a la vez, pueden ser colores, tamaño... lo que queramos*/
    --color-secundario: green;
    --color-negativo: white;
    color: var(--color-principal);
}

article h1 {
    color: var(--color-secundario)
}

article section {
    border: solid 1px var(--color-secundario);
    padding: 2em;
    box-shadow: -5px 5px 0 var(--color-principal);
}

.cta {
    --color-texto: var(--color-negativo);
    --color-fondo: var(--color-principal);
    --color-fondo-hover: black;

    text-decoration: none;
    font-weight: bold;
    font-family: arial;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: 1em;
    border-radius: 100px;
    display: inline-block;
}

.cta:hover {
    background-color: black;
}

