.contenedor {
    background-color: green;
    width: 300px;
    height: 300px;
    position: relative;
}

.elemento {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute; /* parecido al fixed pero al usar el scroll no se moveria, la diferencia tambien es que cogeria el primer elemento que 
    encuentre yendo para atras encuentre el relative */
    bottom: 0;
    left: 0;
}

.supercontenedor {
    background-color: pink;
    width: 400px;
    height: 400px;
    margin: auto;
    position: flex;
}

.foto div{
    background: rgb(0,0,0,0.5);
    color: white;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0 2px 5px black;
}

.foto h1,
.foto p {
    margin: 0;
}

.tooltip {
    background-color: pink;
    position: relative;
}

.tooltip span {
    background-color: yellow;
    position: relative;
    display: none;
}

.tooltip:hover span {
    display: inline;
    position: absolute;
    bottom: 100%;
    left: 0;
    box-shadow: 0 5px 5px black;
}