.degradado {
    width: 400px;
    height: 400px;
    border: solid 2px black;
    background-image: linear-gradient(75deg, blue 25%, yellow 100%, red 25%); /* Para cambiar la situación del angulo podemos utilizar 180deg por ejemplo */
    /* background-size: 100px 100px; */ /* sería para ponerle un tamaño fijo y si quedará espacio se repetiria
    si no queremos que se repita ponemos el comando de background-repeat: no-repeat */
    box-shadow: 0px 0 100px 10px black, 0px 0 30px 20px yellow, 0px 0 100px 40px red; /* es para darle sombra a la caja */
}

.fondo {
    background-color: blue;
    background-image: url(./fondo.png);
    background-size: cover; /* para aplicar el tamaño, seria alto por ancho. Si ponemos auto se adapta al tamaño de la ventana
    cover se ajustaría al tamaño de la ventana */
    background-repeat: no-repeat; /* podriamos ponerle repeat-x y se repetiria en horizontal y repeat-y se repetiria en vertical */
    /* background-position: left top; */
    background-position: auto; /* lo de arriba es lo mismo que esto pero aquí podemos variar más la posición
    podríamos utilizar px también */

    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 2000px; 

    text-shadow: 5px 5px 5px blue;
}
/* con :hover mas el apartado donde queremos que vaya podemos aumentar el tamaño poniendo el raton encima
y debajo ponenmos background-size: 60% auto; por ejemplo. */
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

