/* el titulo transform es todo cambios visuales que sirve para que el navegador cargue mas rápido las páginas
y que no tenga que cargar tantas cosas como si cambiamos la fuente directamente. */
.seccion {
    perspective: 100px; /* esta es como donde lo vemos, cuanto menos mas nos acercamos y peor se vera */
}

.title {
    background-color: aquamarine;
    width: max-content;
    transform-origin: center center;
    /* transform:  rotateY(85deg); */
    transform: translateX(75%); /* se moveria con porcentajes o px con porcentajes va por el tamaño que tenga el texto */

}
