.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Si queremos que tenga el mismo tamaño las colums habra que poner
    minmax (10px, 1fr) los px es un ejemplo. Si no con 1fr se ajustará al tamaño adecuado */
    align-items: center; /* esto sirve para alinearlo o arriba(start) o abajo (end)  */
    height: 300px;
    background-color: yellow;
    justify-items: left;/* esto sirve para alinearlo a la izquierda derecha o centro */
    justify-content: space-around;/* PARA CREAR ESPACIO ENTRE LAS COLUMNAS */
}

p {
    background-color: aqua;
    /* width: max-content; */ /* min-content sirve para que el color se ajuste al texto lo minimo posible para el maximo 
    seria max-content o incluso o auto que haya o podemos poner los px que queramos. fit-content seria un intermedio*/
    margin: 0;
    min-width: 0;
    overflow: auto; /* para que genere un scroll si hiciera falta, también podríamos ponerselo directamente. */

}
/* width= 100% podríamos usarlo para ajustar una imagen y se redimensione al tamaño del navegador */