/* en el ejemplo del cursor, podriamos pausarlo en la caja directamente y darle runing cuando el cursor este encima
asi solo se animaria cuando el raton estuviera encima */

.caja {
    background-color: pink;
    padding: 1em;
    width: 300px;
    height: 300px;
    animation-name: prueba;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-direction: /* reverse */ alternate;/* esto sirve para hacer una animación para atras en este ejemplo, podria alternar tambien */
    animation-timing-function: ease;
    animation-iteration-count: 2;
    animation-fill-mode: both; /* sirve para que no pegue un salto a la caja inicial y quede feo */   
}

.caja:hover {
    animation-play-state: paused; /* esto valdria para que el elemento actue cuando el cursor este encima
    en este ejemplo se pausa */
}

@keyframes prueba { /* sirve para crear una transicion larga */
    0% {
        background-color: blue;
        transform: translate(0, 0)
    }
    50% {
        background-color: green;
        transform: translate(100px, 100px) rotate(45deg)
    }
    100% {
        background-color: red;
        transform: translate(0px, 0px) rotate(45deg)
    }
/*     100% {
        background-color: pink;
        transform:rotate(360deg) 
    }*/
} 