
body {
    margin: 0%;
}
.hola {
    width: calc(100% - 100px); /* con calc calcularia automaticamente el tamaño de algun elemento, para dejar algún hueco
    que necesitemos */
    height: 300px;
    background-color: purple;
}

.flotante {
    background-color: blue;
    width: 100px;
    height: 200px;
    position: fixed;
    top: 0;
    right: 0%;
}