/* con el cubic-bezier(x,x,x,x) puedes crear tu una transición, hay varios ejemplos en internet easings.net */
/* los valores de transition se pueden poner todas juntas con transition si no podemos poner los valores
que tenemos debajo transition-property etc... */


.cta {
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1em;
    border-radius: 8px;
    border: solid 5px pink;
    display: inline-block; /* para que sea un bloque y al minimizar no se parta */
    /* transition: 1s;  *//* esto vale para que haga una transición cuando ponemos el raton encima */
    transition-property: transform /* background-color, color, box-shadow, border-color */; /* para seleccionar las transiciones que queremos que haga */ 
    transition-duration: 1s;
   /*  transition-delay: 1s; */ /* para que cuando pongamos el raton encima tarde el tiempo que le pongas pra
    hacer la transición */
    transition-timing-function: ease; 
}

.cta:hover { /* con hover es para cuando pongamos el ratón encima */
    background-color: black;
    color: pink;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
    border-color: blue;
    transform: scale(3) translateX(100px) translateY(100px); /* con este pòdemos mover el elemento en 2D y 3D con X y Y horizontal o como queramos */
    transition-duration: 5s;
}

.galeria {
    list-style: none;
    padding: 0%;
    display: flex;
    flex-wrap: wrap; /* para que haga columnas en el tamaño de la ventana */
    gap:10px; /* para tener un pequeño espacio*/

}

.galeria li {
    display: block;
    transition-property: transform, box-shadow;
    transition-duration: 2s;
}

.galeria li:hover {
    transform: scale(2);
    box-shadow: 0 5px 10px black;
    z-index: 1;/* esto sirve para que no se solapen los elementos cuando escalamos por ejemplo */

}