.rejilla {
    background-color: yellow;
    display: grid;
    grid-template-columns: 50% 50%; /* podemos utilizar fracciones ej: 1fr 1fr */
    grid-template-rows:200px 200px 200px 200px 200px;
    grid-row-gap: 5px;
}
.rejilla > p {
    background-color: orange;
    margin: 0;
    border: solid 1px black;
}

.rejilla > p:nth-child(1) {/* esto sirve para mover una columna o fila a otro columna o fila */
    grid-column: 1 / span 1;/* el span sirve para expandi una casilla más o quitarle una desde donde la marques */
    grid-row: 2;
}

.rejilla > p:nth-child(2) {
    grid-column: 2;
    grid-row: 4;
}

.rejilla > p:nth-child(3) {/* esto sirve para meter todo en una misma columna o una misma fila,
    también valdria con grid-column: 1 / 2; por ejemplo */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* si no defines todos, buscará el orden por espacios que le queden */