.holy-grail {
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "header header" /* sirve para crear areas mas facil */
                         "aside nav"
                         "aside article"
                         "footer footer";
} 

header, nav, article, aside, footer {
    background-color: #274300;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}